img#gnt_center(src="/img/gntbar.jpg")
header.sticky-header
    a.logo(href="#")
        img.logo-img(src="/img/logo/logo.png")
        img.logo-small-img(src="/img/logo/logo-small.png")
    a.check-status.is-hidden-touch(href="#" title="Check your status")
        span.icon-right-arrow.nav-status Check Your Beta Status
    nav.is-hidden-touch
        a(href="#")
            span News
        .item
            span Game
            .nav-dropdown
                a(href="http://maplestory2.nexon.net/game/about")
                    span What is MapleStory 2?
                a(href="http://maplestory2.nexon.net/game/getStarted")
                    span How to Get Started
                a(href="http://maplestory2.nexon.net/game/classes")
                    span Classes
                a(href="http://maplestory2.nexon.net/game/activities")
                    span MapleStory 2 Activities
        .item
            span Community
            .nav-dropdown
                a(href="#")
                    span Forums
                a(href="#")
                    span Wiki
        a(href="#")
            span Support
    a.button.button-cta(href="/shop/maplestory2/founders-pack" title="Buy Founder's Pack")
        span Buy Founder's Pack
    .mobile-nav.icon-hamburger.is-hidden-desktop

