footer {

  background: url("../img/bg-footer.jpg") repeat-x center top / cover;


  .go-to-main-site, .go-to-main-site:after{
    width: 32rem;
    height: 6.3rem;
  }

  .go-to-main-site{
    @include button;
    background: url("../img/footer/go-to-main-site-btn.png") no-repeat center top / cover;

    display: inline-block;
    @include desktop{
      margin-bottom: 3rem;
      &:after{
        background: url("../img/footer/go-to-main-site-btn-hover.png") no-repeat center top / cover;
      }
    }
    @include touch{
      width: 45rem;
      height: 12.75rem;
      display: inline-block;
      margin-bottom: 8.5rem;
      &:before{
        font-size: 2.8rem;
        margin-right: 1.4rem;
      }
    }
  }

    @include touch{
      padding-bottom: 5em;
    }
    @include desktop{
      padding-top: 3rem;
      padding-bottom: 4em;
    }
    text-align: center;

    position: relative;
    z-index: 2;


    .footer-logo{
      @include desktop{
        margin-right: 2rem;
        &.vive-logo{
          width: 6.1rem;
        }
        &.sennheiser-logo{
          width: 10.5rem;
        }
        &.gigabite-logo{
          width: 8.8rem;
        }
      }

      @include touch{
        margin-right: 4rem;
        &.vive-logo{
          width: 10.5rem;
        }
        &.sennheiser-logo{
          width: 17.5rem;
        }
        &.gigabite-logo{
          width: 15rem;
        }
      }
    }
    .logo-deco{
      @include desktop {
        width: 13.3rem;
        height: 13.3rem;
        transform: translate(-50%, -10%)
      }
      @include touch{
        width: 22rem;
        height: 22rem;
        transform: translate(-50% , -15%);
      }
      position: absolute;
      bottom: 100%;
      left: 50%;
    }


    .icon-nexon{
      color: #e8e368;
      transition: color .2s;
      &:hover{
        color: #fe675c;
      }
      @include desktop{
        font-size: 1.7em;
        margin: .325em .25em 0 0;
        transform: translateY(.1rem);
      }
      @include touch{
        margin: 1.75rem .25em 0 0;
        font-size: 4rem;
      }
    }

    .footer-middle{
      @include touch{
        flex-direction: column;
        order: -1;
        margin-bottom: 5rem;
        padding-top: 3rem;
        border-top: 2px dotted rgba(255, 253, 114, .5);
        .footer-logos{
          margin: 1rem 0 2rem;
        }
      }
    }

    .copyright, .footer-logos,.footer-middle{
      display: flex;
      align-items: center;
      justify-content: center;
      @include desktop {
      }
      @include touch {
        font-size: 1em;
      }
    }
    .copyright{
      margin-right: 1rem;
    }

    .copyright, .footer-links a{
      font-size: 1.4rem;
      display: block;
      color: #e8e368;
      font-family: $family-primary;
      @include touch{
        font-size: 2.5rem;
      }
    }

    .to-main-site{
      text-decoration: none;
      text-transform: uppercase;
      font-size: 1em;
      font-weight: bold;
      display: inline-block;
      width: 13.75em;
      height: 3.16em;
      line-height: 3.4em;
      border-radius: 2em;
      letter-spacing: .11em;
      margin: 0 2.2em;
      box-shadow: 0 .2em 0 rgba(0, 0, 0, .15);
      &:hover{
        background: rgb(121,109,209);
      }
    }

    .footer-links{
      margin-top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      a{
        &:hover{
          color: #fe675c;
        }
      }
      span.separator{
        vertical-align: text-bottom;
        display: inline-block;
        margin: 0 .75em;
        color: #e8e368;
        @include touch{
          font-size: 3rem;
          font-weight: bold;
        }
      }
    }



    .social {
      vertical-align: top;
      display: flex;
      justify-content: center;
      align-items: center;
      @include desktop {
        margin-bottom: .8rem;
      }
      span{
        font-size: 1.4rem;
        text-transform: uppercase;
        font-weight: 600;
        @include desktop{
          margin-right: .8rem;
        }
      }
      a{
        width: 3.7rem;
        height: 4rem;
        font-size: 2.1rem;
        display: flex;
        justify-content: center;
        align-items: center;

        background-color: #e8e368;
        transition: color .2s;
        border: 2px solid #e8e368;
        &:not(:last-child) {
          margin-right: .8rem;
        }
        &:before{
          margin-top: .25rem;
          color: #000;
        }
        &:hover {

          background-color: transparent;
          color: #000;
          transition: color .2s;
          &:before{
            color: #e8e368;
          }
        }

      }
    }


    @include desktop{
      .footer-middle {
        margin-bottom: 2.5rem;
      }
      .copyright , .copyright span, .footer-links, .social{
        color: #fffd72;
        display: flex;
      }
      .footer-bottom{
        display: flex;
        justify-content: center;
      }
    }

    @include touch{
      padding-top: 8.5rem;
      margin-top: -8.5rem;
      .footer-content {
        display: flex;
        flex-direction: column;
      }
      .copyright{
        display: flex;
        margin-bottom: 1.5rem;
      }
      .footer-links{
        margin-bottom: 2rem;
      }

      .social {
        color: #c83b40;
        margin-bottom: 2rem;
        span{
          font-size: 2.2rem;
          margin-right: 2rem;
        }
        a{
          font-size: 5rem;
          width: 10rem;
          height: 10rem;
          &:not(:last-child){
            margin-right: 5rem;
          }
        }
      }
    }
}
