header
    a.logo(href="#")
        img(src='img/logo.png', alt='')

    nav.nav-left
        a.is-active(href="#renewal" data-i18n="[html]site.header.link1") RENEWAL
        a(href="#recruits" data-i18n="[html]site.header.link2") RECRUITS
        a(href="#gear" data-i18n="[html]site.header.link3") GEAR
        a(href="#classes" data-i18n="[html]site.header.link4") CLASSES
        a(href="#updates" data-i18n="[html]site.header.link5") PATCH NOTES

    nav.nav-right
        a.main-site-link(href="/" data-i18n="[html]site.header.link-to-main") Go to main site
        a.button.primary.play-buttons(href="#" data-ga="Choose Platform" data-i18n="[html]site.header.call-to-action") Play free
    nav.mobile-nav
        a.f-icon-hamburger(href="#")