body{
  font-family: 'Exo 2', sans-serif;
}
.main{
  position: relative;
  overflow: hidden;
  @media #{$small-only} {
    overflow: hidden;
  }
}
section{
  text-align: center;
  margin-bottom: .5em;
  img{
    flex-shrink: 0;
    width: 100%;
    image-rendering: -webkit-optimize-contrast;
  }

  &:not(.section-1){
    p{
      font-weight: bold;
      color: #412d18;
      margin: 0 auto 1.38em;
      line-height: 1.34;
      sup{
        font-size: .6em;
      }
      @include desktop{
        font-size: 1.32em;
      }
      @include touch{
        font-size: 3.9em;
      }
    }
  }
}

.char-1{
  position: absolute;
  left: 0;
  @include desktop{
    top: 3.67em;
    width: 16em;
  }
  @include touch{
    top: 9.5em;
    width: 22.9em;
  }
}

.section-1{
  .section-1-img-3{
    width: 19.3em;
    align-self: center;
    transform: translateY(80%);
  }



  .section-1-content{
    text-align: center;
    color: #186dbc;
    font-weight: bold;
    p{
      font-size: 1.764em;
      line-height: 1.3;
      margin-bottom: .5em;
    }
    div{
      font-family: 'Lora', serif;
      font-style: italic;
      color: #6e68c8;
      line-height: 1.3;
    }
  }

  @include touch{
    .section-1-content {
      width: 86%;
      margin: auto;
      p{
        font-size: 4.1em;
      }
      div {
        font-size: 6.575em;
        margin-bottom: .5em;
      }
    }

    .section-1-img{
      margin-bottom: 1.5em;
    }

    .section-1-img-2{
      width: 92.8%;
    }

    .small-deco-img{
      margin-bottom: .5em;
    }

  }


  @include desktop{
    display: flex;
    justify-content: center;

    .section-1-content {
      p{
        width: 27.5em;
        margin-left: auto;
        margin-right: auto;
      }
      div {
        font-size: 3.5em;
      }
    }

    .section-1-img{
      margin-bottom: .5em;
    }

    .section-1-img-2{
      width: 68em;
      align-self: center;
    }


    .small-deco-img{
      margin-bottom: 1em;
    }
  }
}


.section-2{

  img{
    max-width: 84.5em;
  }
  @include desktop{
    p{
      width: 39.5em;
    }

  }
  @include touch{
    p{
      width: 90%;
    }

  }

}

.section-6{
  @include desktop{
    p{
      width: 50em;
    }
  }
}

.section-7{
  @include desktop{
    p{
      width: 32em;
    }
  }
}

.section-8{
  @include desktop{
    p{
      width: 41em;
    }
    img{
      max-width: 78.6em;
    }
  }
  @include touch{
    p{
      width: 77%;
    }
    img{
      max-width: 84%;
    }
  }
}

.section-9{
  p{
    span{
      color: #186dbc;
      text-transform: uppercase;
    }
  }
  @include touch{
    p{
      width: 85%;
    }
  }
}

.section-11{
  @include touch{
    p{
      width: 73%;
    }
  }
}

.section-3, .section-4, .section-5,
.section-6, .section-7, .section-9,
.section-10, .section-11{
  @include desktop{
    img{
      max-width: 70.5em;
    }
  }
}

h2{
  color: #583d21;
  font-weight: bold;
  font-family: 'Lora', serif;
  text-align: center;
  sup{
    font-size: .65em;
  }
  span{
    color: #d34b30;
  }
  @include desktop{
    font-size: 5.25em;
    line-height: 1.2;
    margin-bottom: .083em;
  }
  @include touch{
    font-size: 9.5em;
    line-height: 1;
    margin-bottom: .25em;
  }
}

.button-continer{
  text-align: center;
  margin: 9em 0;
}

@include touch{
  .section-2,.section-4,.section-5,.section-11{
    h2{
      span{
        display: block;
      }
    }
  }
  .section-4{
    p{
      width: 75%;
    }
  }
  .section-5{
    p{
      width: 62%;
    }
  }
}