.dropbtn {
    color: $grey-darker;
    text-align: left;
    padding: .8rem;
    border: 3px solid $black;
    background-color: $white;
    border-radius: 1rem;
    cursor: pointer;
    width: 27rem;
    margin-left: 1.2rem;
    font-weight: bold;
    position: relative;
    @include mobile{
        margin-left: 0;
    }

    &:before{
        font-size: 1.2rem;
        color: $black;
        position: absolute;
        right: 1.3rem;
        top: 1.5rem;
    }
}


.dropdown {
    font-size: 1.6rem;
    position: relative;
    display: flex;
    align-items: center;
    @include mobile{
        justify-content: center;
    }
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    top: 99%;
    background-color: $black;
    width: 27rem;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 1rem;
    overflow: hidden;
    text-transform: uppercase;
    text-align: left;
    @include mobile{
        width: 27.1rem;
        transform: translateX(50%);
        right: 50%;
    }
}

.dropdown-content a {
    color: $white;
    padding: 1rem 16px;
    text-decoration: none;
    display: block;
    font-weight: bold;

    &.updates {
        color: $updates;
    }
    &.sales {
        color: $sales;
    }
    &.events {
        color: $events;
    }
    &.maintenances {
        color: $maintenances;
    }
    &.announcements {
        color: $announcements;
    }
    &:hover{
        background-color: #2a2935;
    }
}

.dropdown-inner{
    position: relative;
    z-index: 10;
}

.dropdown-inner:hover{
    .dropbtn{
        background-color: $black;
        color: $white;
        border: 3px solid transparent;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        &:before{
            color: $white;
        }
    }
    .dropdown-content {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        display: block;
    }
}
