header
    a.logo.nav-anchor.is-hidden-desktop(href="#section-1")
    nav.top-navigation
        a.logo.nav-anchor.is-hidden-touch(href="#section-1")
        a.nav-item.nav-anchor(href="#section-2") Story
            span.diamond-deco
        a.nav-item.nav-anchor(href="#section-3") New Technique System
            span.diamond-deco
        a.nav-item.nav-anchor(href="#section-4") New Missions
            span.diamond-deco
        a.nav-item.nav-anchor(href="#section-5") Seven Nightmares
            span.diamond-deco
        a(href="javascript:void(0)", class="button j-play-free is-hidden-touch")
    .hamburger.is-hidden-desktop
        .bar1
        .bar2
        .bar3
// END: Header
// UAW