// Nav
nav.nav.nav-hidden(style='height: 771px; width: 1499px; top: 56px;')
  .nav-cont
    ul
      li.global-nav-home
        a.glow-text(href='/')
          i.icon.icon-home
          | Home
      li.global-nav-news
        a.glow-text(href='/news')
          i.icon.icon-news
          | News
      li.global-nav-thegame
        a.glow-text(href='/game/about')
          i.icon.icon-thegame
          | The Game
      li.global-nav-community
        a.glow-text(href='/community/forum')
          i.icon.icon-community
          | Forums
      li.global-nav-wiki
        a.glow-text(href='http://vindictus.gamepedia.com/Vindictus_Wiki', target='_blank')
          i.icon.icon-wiki.icon-circle
          | Wiki
      li.global-nav-support
        a.glow-text(href='http://support.vindictus.nexon.net', target='_blank')
          i.icon.icon-character
          | Support
        ul.subnav
          li.global-nav-user-abuse
            a.glow-text(href='http://www.nexon.net/legal/user-abuse/', target='_blank') User Abuse
          li.global-nav-2nd-password-reset
            a.glow-text(href='http://www.nexon.net/account/account-settings/', target='_blank') 2nd Password Reset
    // Social Nav
    .social-nav
      ul.inline-list.inline-list-center
        li.title_find_vindictus
          // Sprite
          .sprite-cont(style='transform: scale(0.8); width: 125%; height: 0.0173913%; overflow: hidden; transform-origin: 0px center 0px;')
            span.sprite(style='height: 45px;')
          // END: Sprite
        li.global-nav-facebook
          a(target='_blank', href='https://www.facebook.com/Vindictus')
            i.icon.icon-facebook
        li.global-nav-twitter
          a(target='_blank', href='https://twitter.com/Vindictus')
            i.icon.icon-twitter
        li.global-nav-youtube
          a(target='_blank', href='https://www.youtube.com/user/VindictusOnline')
            i.icon.icon-youtube
    // END: Social Nav
// END: Nav
