footer
    .language-select
        span.language-select-button.j-current-language English (US)
        .language-select-nav
            .heading
                span AMERICAS
                span EUROPE
            .listing
                span
                    a(href='javascript:void(0)', class="j-change-language", data-lang="en") English (US)
                    a(href='javascript:void(0)', class="j-change-language", data-lang="es") Español (LA)
                span
                    a(href='javascript:void(0)', class="j-change-language", data-lang="de") Deutsch
                    a(href='javascript:void(0)', class="j-change-language", data-lang="fr") Français


    .social-links
        a.f-icon.f-icon-facebook(href="https://www.facebook.com/playfirstassault" target="_blank")
        a.f-icon.f-icon-twitter(href="https://twitter.com/first_assault" target="_blank")
        a.f-icon.f-icon-youtube(href="https://www.youtube.com/c/firstassault" target="_blank")
        a.f-icon.f-icon-twitch(href="https://www.twitch.tv/firstassault" target="_blank")

    nav
        a(data-i18n='[href]site.footer.link1_url;site.footer.link1_text', target="_blank")
        a(data-i18n='[href]site.footer.link2_url;site.footer.link2_text', target="_blank")
        a(data-i18n='[href]site.footer.link3_url;site.footer.link3_text', target="_blank")
        a(data-i18n='[href]site.footer.link4_url;site.footer.link4_text', target="_blank")

    .copyright( data-i18n="[html]site.footer.legalNotice" )

    .logos
        a(href="http://www.nexon.net/", target="_blank")
            img(src='img/footer/footer-logo1.png', alt='')

        a(href="http://www.neople.co.kr/neople/en/", target="_blank")
            img(src='img/footer/footer-logo2.png', alt='')

        a(href="http://www.alienware.com/", target="_blank")
            img(src='img/footer/footer-logo3.png', alt='')

        a(href="https://www.logitech.com/", target="_blank")
            img(src='img/footer/footer-logo4.png', alt='')

        a(href="http://www.nvidia.com/content/global/global.php", target="_blank")
            img(src='img/footer/footer-logo5.png', alt='')