header
    a.logo.nav-anchor.is-hidden-desktop(href="#section-1")
    nav.top-navigation
        a.logo.nav-anchor.is-hidden-touch(href="#section-1")
        a.nav-item.nav-anchor(href="#section-2") Final Strike
        a.nav-item.nav-anchor(href="#section-3") Stampede
        a.nav-item.nav-anchor(href="#section-4") New Weapons
        a.nav-item.nav-anchor(href="#section-5") Improve Combat Skills
        a.nav-item.nav-anchor(href="#section-6") Renewed Combat Skills
        a(href="javascript:void(0)", class="button j-play-free go-to-main-site header-button is-hidden-touch")
            span PLAY FREE NOW
    .hamburger.is-hidden-desktop
        .bar1
        .bar2
        .bar3

// END: Header
// UAW