.share
    a(class="icon-facebook share-facebook button like", data-picture="http://nxcache.nexon.net/mabinogi/microsite/musicq/img/share/FB-#{sharedPage}-1200x628.jpg", data-link="http://mabinogi.nexon.net/micro-site/musicq/#{sharedPage}")
        span Share
    a(class="icon-twitter share-twitter button tweet", data-description="The Composing System has new improvements to help you create your next masterpiece.", data-link="http://bit.ly/2hG3IML", data-hashtags="MusicQ", data-via="MabiOfficial")
        span Tweet
    //a(class="icon-pinterest button pin", href="https://www.pinterest.com/pin/create/button/", data-pin-custom="true", data-pin-do="buttonPin", data-pin-description="@ViewBag.Description", data-pin-media="@ViewBag.PINImage", data-pin-url="@Request.Url.AbsoluteUri")
    //    span Pin
