mixin play-button
  svg.play-button(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 97.62 111.79")
    polygon.play-button-border(points="95.1 55.88 1.37 109.63 1.25 2.16 95.1 55.88")
    polygon.play-button-border(points="7.04 13.01 7.04 98.88 82.29 55.95 7.04 13.01")
    polygon.play-button-core(points="14.33 25.39 14.33 86.39 67.29 55.9 14.33 25.39")
